# Ignore Python Virtual Environment
py_modules/

# Ignore vscode files
.vscode/

# Ignore Flask files
instance/*
!instance/.gitignore
.webassets-cache

# Ignore Python files
__pycache__/
__init__.pyc

# test folders
tests/

# database
site.db

# Temporary static files
f5c4bfcf9fcf859f.png
45133c6043530af9.svg

# environment Files
.env
