<!-- ******************************************
*  Author : Hardeep Kumar   
*  Created On : Tue Aug 11 2020
*  File : home.html
******************************************* -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Hardeep Kumar" />
    {% if title %}
        <title>Flasog {{ title }}</title>
    {% else %}
        <title>Flasog</title>
    {% endif %}
  </head>

  <body>
    <h1>Home Page</h1>
    {% for post in posts %}
      <h1>{{ post.title }}</h1>
      <p>By {{ post.author }} on {{ post.datePosted }}</p>
      <p>{{ post.content }}</p>
    {% endfor %}
  </body>
</html>
