{% extends "layout.html" %}
{% block pageContent %}
  <div class="form-group border p-4 bg-white shadow">
    <div class="form-group ">
      <form method="POST",action="">
      <legend class="border-bottom mb-4">Register new User</legend>
        {{ form.hidden_tag() }}
        <div class="form-group">
          {{ form.userName.label }}
          {{ form.userName(class="form-control form-control-lg") }}
        </div>

        <div class="form-group">
          {{ form.userEmail.label }}
          {{ form.userEmail(class="form-control form-control-lg") }}
        </div>
        
        <div class="form-group">
          {{ form.userPassword.label }}
          {{ form.userPassword(class="form-control form-control-lg") }}
        </div>
        
        <div class="form-group">
          {{ form.confirmUserPassword.label }}
          {{ form.confirmUserPassword(class="form-control form-control-lg") }}
        </div>

        <div class="form-group">
          {{ form.submit(class="btn btn-outline-dark") }}
        </div>
    </div>
    <div class="border-top pt-2 bg-white">
      <small class="text-muted">Already have an account? <a class="ml-1" href="{{ url_for('login') }}">Sign In</a></small>
    </div>
  </div>
{% endblock pageContent %}