<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
  <style>
    h1, h2, h3, h4, h5, h6 {
      font-family: 'Varela', sans-serif;
      color: #011627;
    }

    p, input, button, select, optgroup, textarea, span, div, a {
      font-family: 'Sarabun', sans-serif;
      color: #011627;
    }

    p{
      font-size: 17px;
    }
  </style>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Sarabun&family=Varela&display=swap" rel="stylesheet">
    {# 
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="shortcut icon" type="image/png" href="/img/icon-192x192.png">
    <link rel="shortcut icon" sizes="192x192" href="/img/icon-192x192.png">
    <link rel="apple-touch-icon" href="/img/icon-192x192.png">
    #}

    <meta name="author" content="Hardeep Kumar" />

    {% if title %}
      <title>Flasog - {{ title }}</title>
    {% else %}
      <title>Flasog</title>
    {% endif %}

  </head>

  <body class="bg-light d-flex flex-column h-100">
    {# Navbar #}
    <header class="site-header sticky-top">
      <nav class="navbar navbar-expand-lg navbar-light bg-white shadow">
        <a class="navbar-brand font-weight-bold" style="font-size: 28px; font-family: 'Varela', sans-serif;" href="{{ url_for('home') }}">Flasog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse font-weight-bold" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('blog') }}">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('contact') }}">Contact me</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('about') }}">About me</a>
            </li>
          </ul>
          <div class="navbar-nav">
          {% if current_user.is_authenticated %}
            <li class="nav-item">
              <a class="btn btn-outline-dark" href="{{ url_for('newPost') }}">New Post</a>
            </li>
            <div class="m-1"></div>
            <li class="nav-item">
              <a class="btn btn-outline-dark" href="{{ url_for('account') }}">Account</a>
            </li>
            <div class="m-1"></div>
            <li class="nav-item">
              <a class="btn btn-outline-dark" href="{{ url_for('logout') }}">logout</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="btn btn-outline-dark" href="{{ url_for('login') }}">Login</a>
            </li>
            <div class="m-1"></div>
            <li class="nav-item">
              <a class="btn btn-outline-dark" href="{{ url_for('register') }}">Register</a>
            </li>
          {% endif %}
          </div>
        </div>
      </nav>
    </header>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="container pt-4">
            <div class="alert alert-{{ category }} alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                {{ message }}
            </div>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    {% block pageContent %}
    
    {% endblock pageContent %}

    <!-- Footer -->
    <br class="m-4"></br>
    <footer class="footer bg-dark mt-auto py-5 text-center">
      <div class="container">
        <span class="text-white">&#169; 2020 wrench1815 | All rights reserved</span>
        <br>
        <span class="text-white">Made with Flask and <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart-fill text-danger" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
          </svg>
        </span>
      </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- For some reason the default method of including scripts doesn't work -->
    <!-- This is work around, something i copied from Bootstrap Examples -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"rossorigin="anonymous"><\/script>')</script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>
