{% extends "bootstrap/base.html" %}

{% block html_attribs %}
  lang="en" class=""
{% endblock html_attribs %}

{% block body_attribs %}
  class="bg-light d-flex flex-column"
  style="min-height: 100vh;"
{% endblock body_attribs %}

{% block head %}
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}">

  {# Style css and Font Icon #}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='fonts/remixicon/remixicon.css') }}">

  <title>Flasog - {{ title }}</title>

  <style>
    
  </style>

{% endblock head %}

{% block content %}
  {# Start #}
  <div>
    {# navbar Start #}
    <div>
      <nav class="navbar bg-white vertical-nav">
        <ul class="navbar-nav mr-auto mb-auto flex-column">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.home') }}" data-toggle="tooltip" title="Home" data-placement="left">
              <i class="nav-size ri-home-2-line"></i>
              {# Home #}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('posts.blog') }}" data-toggle="tooltip" title="Blog" data-placement="left">
              <i class="nav-size ri-draft-line"></i>
              {# Blog #}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.contact') }}" data-toggle="tooltip" title="Contact me" data-placement="left">
              <i class="nav-size ri-chat-smile-3-line"></i>
              {# Contact me #}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.about') }}" data-toggle="tooltip" title="About me" data-placement="left">
              <i class="nav-size ri-contacts-line"></i>
              {# About me #}
            </a>
          </li>
          </ul>
          <ul class="navbar-nav mr-auto mt-auto flex-column justify-content-end">
          {% if current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('posts.newPost') }}" data-toggle="tooltip" title="New Post" data-placement="left">
                <i class="nav-size ri-file-add-line"></i>
                {# New Post #}
              </a>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('users.account') }}" data-toggle="tooltip" title="Account" data-placement="left">
                <i class="nav-size ri-user-line"></i>
                {# Account #}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('users.logout') }}" data-toggle="tooltip" title="Logout" data-placement="left">
              <i class="nav-size ri-logout-box-line"></i>
                {# logout #}
            </a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('users.login') }}" data-toggle="tooltip" title="Login" data-placement="left">
              <i class="nav-size ri-login-box-line"></i>
                {# Login #}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('users.register') }}" data-toggle="tooltip" title="Register" data-placement="left">
              <i class="nav-size ri-user-add-line"></i>
              {# Register #}
            </a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </div>
     {# navbar End #}

     {# Page Content Start #}
    <div class="page-content">
      {# Messages Start #}
      <div>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="container mt-3">
                <div class="shadow alert alert-{{ category }}" role="alert">
                  {{ message }}
                </div>
              </div>
            {% endfor %}
          
          {% else %}
          {% endif %}
        
        {% endwith %}
      </div>
      {# Messages End #}
    
      {# Content Start #}
      {% block pageContent %}
     
      {% endblock pageContent %}
      {# Content End #}

      {# Footer Start #}
      <div>
        <br class="m-4"></br>
        <footer class="footer bg-dark mt-auto py-5 text-center">
          <div class="container">
            <span class="text-light">&#169; 2020 wrench1815 | All rights reserved</span>
            <br>
            <span class="text-light">Made with Flask and <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0H24V24H0z"/><path d="M12.001 4.529c2.349-2.109 5.979-2.039 8.242.228 2.262 2.268 2.34 5.88.236 8.236l-8.48 8.492-8.478-8.492c-2.104-2.356-2.025-5.974.236-8.236 2.265-2.264 5.888-2.34 8.244-.228z" fill="rgba(220,53,69,1)"/></svg>
            </span>
          </div>
        </footer>
      </div>
      {# Footer End #}
    </div>
    {# Page Content End #}
  </div>
  {# End #}
{% endblock content %}

{% block scripts %}
  <!-- Optional JavaScript -->
  <!-- For some reason the default method of including scripts doesn't work -->
  <!-- This is work around, something i copied from Bootstrap Examples -->
  <script src="{{ url_for('static', filename='assets/popper/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/jquery/jquery-3.5.1.slim.min.js') }}"></script>
  <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='assets/jquery/jquery-3.5.1.slim.min.js') }}"><\/script>')</script><script src="{{ url_for('static', filename='assets/bootstrap/js/bootstrap.min.js') }}"></script>

  <script>
  $(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });
  </script>
  <script>
  $('.toast').toast();
  </script>

  {{ pagedown.include_pagedown() }}
  {# Moment library to handle time #}
  {# {{ moment.include_moment() }} #}
{% endblock scripts %}
