{% extends "layout.html" %}
{% block pageContent %}
<div class="form-group border p-4 bg-white shadow">
  <div class="form-group">
    <form method="POST" ,action="">
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Register new User</legend>
        {{ form.hidden_tag() }}
        <div class="form-group">
          {{ form.userName.label(class="form-text") }}

          {% if form.userName.errors %}
            {{ form.userName(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.userName.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.userName(class="form-control form-control-lg") }}
          {% endif %}
        </div>

        <div class="form-group">
          {{ form.userEmail.label(class="form-text") }}

          {% if form.userEmail.errors %}
            {{ form.userEmail(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.userEmail.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.userEmail(class="form-control form-control-lg") }}
          {% endif %}
        </div>

        <div class="form-group">
          {{ form.userPassword.label(class="form-text") }}
          
          {% if form.userPassword.errors %}
            {{ form.userPassword(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.userPassword.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.userPassword(class="form-control form-control-lg") }}
          {% endif %}
        </div>

        <div class="form-group">
          {{ form.confirmUserPassword.label(class="form-text") }}
          
          {% if form.confirmUserPassword.errors %}
            {{ form.confirmUserPassword(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.confirmUserPassword.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.confirmUserPassword(class="form-control form-control-lg") }}
          {% endif %}
        </div>
      </fieldset>
      <div class="form-group">
        {{ form.submit(class="btn btn-outline-dark",formnovalidate=true) }}
      </div>
    </form>
  </div>
  <div class="border-top pt-2 bg-white">
    <small class="text-muted">Already have an account? <a class="ml-1" href="{{ url_for('login') }}">Sign In</a></small>
  </div>
</div>
{% endblock pageContent %}